{{#if hasBlock}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      sendAction=sendAction
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
      debounceFilterTime=debounceFilterTime
    )
  }}
{{else}}
  {{#if column.componentForFilterCell}}
    {{component
      column.componentForFilterCell
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      sendAction=sendAction
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
      debounceFilterTime=debounceFilterTime
    }}
  {{else}}
    {{#if column.useFilter}}
      <div class="form-group {{if column.filterUsed "has-feedback"}}">
        {{#if column.filterWithSelect}}
          {{component themeInstance.components.select
            options=column.filterOptions
            cssPropertyName=column.cssPropertyName
            value=column.filterString
            themeInstance=themeInstance
            sendAction=sendAction
            themeInstance=themeInstance
            class=(concat themeInstance.input " changeFilterForColumn")
            expandAllRows=expandAllRows
            collapseAllRows=collapseAllRows
          }}
        {{else}}
          {{one-way-input
            type="text"
            value=_value
            update=(action "onUpdate")
            class=themeInstance.input
            keyEvents=(hash 13=(action "onEnter"))
            placeholder=column.filterPlaceholder}}
        {{/if}}
        {{#if column.filterUsed}}
          <i class="clearFilterIcon {{themeInstance.clearFilterIcon}}" onclick={{action (mut column.filterString) ""}}></i>
        {{/if}}
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}